/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：yfyk2h5
 2. 文件名称：src -> less ->rent -> detail.less (租房详情)
 3. 作者：zhaohuagang@lifang.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
 @import "../variables.less" ;
 @import "../mixins.less" ;
 #rentDetailShare {
     padding-bottom : 50px ;
 }
 .swiper-container {
     .swiper-slide {
        height:auto;
        img{
            width: 100%;
            height:18rem;
        }
         > div {
            height: 100%;
         }
         position : relative ;
         .pagination {
             .border-radius(100px) ;
             background-color : rgba(0, 0, 0, .7) ;
             bottom : 15px ;
             color : #fff ;
             font-size : 1.1rem ;
             height : 24px ;
             line-height : 24px ;
             padding : 0 1rem ;
             position : absolute ;
             right : 15px ;
             z-index : 2000 ;
         }
     }
 }
.summary {
    // margin-bottom: @gap-dimension;
    .panel-header {
        .clearfix() ;
        margin-right: 1.5rem;
        .message{
            .clearfix();
             h1 {
                float : left ;
                font-weight : 600 ;
                font-size : 1.6rem ;
            }
            .money {
                color : @danger-color ;
                float : right ;
                font-size : 1.6rem ;       
                margin-right : 1.5rem ;     
            };
        }
        // ul{
        //     .clearfix();
        //     li{
        //         float: left;
        //         font-size: 1.2rem;
        //         color : @light-font-color ;
        //         &+li{
        //             margin-left: 1rem;
        //         }
        //         span+span{
        //             margin-left: 0.5rem;
        //         }
        //     }
        // }
    }
    // .update-time{
    //     padding-left: 1.5rem;
    //     ul{
    //         .clearfix();
    //         li{
    //             float: left;
    //             line-height: 3rem;
    //             font-size: 1.2rem;
    //             color : @light-font-color ;
    //             &+li{
    //                 margin-left: 1rem;
    //             }
    //             dt,dd{
    //                 display: inline-block;
    //             }
    //         }
    //     }
    // }
}
.house-info{
    .panel-body {        
        .column-3 {
            .clearfix() ;            
            li {
                border-right : 1px solid @lighter-line-gray-color ;
                float : left ;                
                text-align : center ;
                width : 33.3% ;
                &:first-child {
                    text-align : left ;
                }
                &:last-child {
                    border : none ;
                }
                dl {
                    display : inline-block ;
                    dt, dd {
                        text-align : left ;
                    }
                    dt {
                        color :  @danger-color;
                        font-size : 1.6rem ;
                    }
                    dd {
                        color : @light-font-color ;
                        font-size : 1.2rem ;
                        line-height : 2.5rem ;
                    }
                }
            }
        }
        .outline, .subway-school {
            dl {
                .clearfix() ;
                dt, dd {
                    font-size : 1.6rem ;
                    line-height : 2.2rem ;
                }
                dt {
                    color : @light-font-color ;
                    float : left ;
                    width : 4rem ;
                }
                dd {
                    margin-left : 4rem ;
                }
            }
        }
        .outline {
            .clearfix() ;
            li {
                float : left ;
            }
        }
    }
}

.support {    
    .panel-body {
        .clearfix() ;
        li {
            float : left ;
            font-size : 1.4rem;
            line-height : 2.5rem ;
            width : 25% ;
            &.no {
                color : @light-font-color ;
                text-decoration : line-through ;
            }
            &::before{
                font-size:1.4rem;
                margin-right: 0.25rem;
            }
            &.right{
                text-align: center;
            }
        }
    }
}

.description {
    .self-house{
        .panel-body {
            dl {            
                dt, dd {
                    font-size : 1.6rem ;
                    line-height : 2.0rem ;
                }
                dt {
                color : @light-font-color ;
                line-height : 2.5rem ;
                }
            }
        }
    }
    .outside-house{
        padding-bottom : 1.5rem ;
        .outside-info{
            line-height : 25px ;
            font-size: 1.6rem ;
            margin-top : 1.5rem ;       
        }
        .ellipsis{
            overflow : hidden;
            height : 125px ;
        }
        .more {
            line-height: 2.25rem;
            font-size: 1.6rem;
            color: @danger-deeper-color;            
        }
    }
}
// 小区信息
.estate-info{
    .estate-detail{
        a{
            display: block;
        };
        padding: 2rem 1.5rem;
        .clearfix();
        .estate-img{
            width: 34.7%;
            height: 8rem;
            float:left;
            line-height: 8rem;
            img{
                max-width: 100%;
                max-height: 8rem;
            }
        }
        .estate-text{
            float:left;
            width: 65.3%;
            padding-left: @gap-dimension;
            ul{
                li{
                    line-height: 2rem;
                    font-size: 1.6rem;
                    color: @light-font-color;
                }
                li+li{
                    margin-top: @gap-dimension;
                }
                .estate-name{
                    color: #000000;
                }
                .division{
                    padding: 0  @gap-dimension;
                }
                .skip{
                    float:right;
                    color:  @light-font-color;
                    font-size: 1.4rem;
                    padding-top: 0.25rem;
                }
            }
        }
    }
}
// 位置及周边
.location {
    .panel-header{
        border: none;
    }
    .location-container {
        position : relative ;
        // img{
        //     height: 250px;
        //     width: 100%;
        // }
        .mark {            
            .center-block() ;
            height : 2rem;
            width : 2rem ;
            left : 50%;
            top : 50% ;
            position : absolute ;
            transform: translate(-50%,-50%);
            z-index : 100 ;
            border: 2px solid #fff;
            background-color: @primary-color;
            .border-radius(100%);
        }
        .cover {   
            top : 60%;
            font-size : 1.4rem ;
            line-height: 40px;
            position : absolute ;
            left: 0;
            right:0;
            margin:0 auto;
            text-align: center;
            color:black;
            span{
                margin: 0 auto;
                background-color: #fff;
                display: inline-block;
                padding : 0 2rem ;
                .border-radius(7px) ;
            }
            i{
                position: absolute;
                top:-20px;
                font-size:30px;
                left: 50%;
                transform: translate(-50%,0);
                color: #fff;    
            }
        }
    }
}
// 相似房源推荐
.alike-house{
    .look-most{
            line-height: 2.25rem;
            font-size: 1.6rem;
            color: @danger-deeper-color;
            padding-bottom: 2rem;
    }
}