@import "../variables.less";
.article{    
    background-color:@light-gay-background-color;
    padding-bottom : 50px ;
    .article-title{
      font-size:2.4rem;      
      margin-left:1.5rem;
      padding-top:1.5rem;
      line-height:1.4;
      color:@default-font-color;
      font-weight:normal;
      background-color:white;
    }
    .article-description{
      margin-top:.5rem;
      padding-left: 1.5rem;
      float: left;
      clear: both;
      width: 100%;
      //margin-left:1.5rem;
      margin-bottom:2rem;
      font-size:1.4rem;
      color:@light-font-color;
      font-weight:normal;
      background-color:white;
      .source{

      }
      .date{
        // margin-left:.5rem;
        margin-right:1.5rem;
        float:right;
      }
      .visit-number{
        float:right;
        margin-right:2rem;
        .num{
          color:@default-font-color;
        }
        
      }
    }
    .article-content{      
      background-color:white; 
      color: black;
      // font-size: 1.6rem; 
      // line-height: 1.75;       
      padding:0 1.5rem 1.0rem 1.5rem;
      p{
        &+p{
          margin-top: 2.8rem;
        }
        span{
          font-size: 1.6rem !important; 
          line-height: 1.75 !important;
          color: black !important;
          a{
            vertical-align: top;
            font-size: 1.6rem !important;
            span{
              color: #5B9BD5 !important;
            }
          }
        }
      }
      img{
        width:100%;
      }
    }  
    .article-statistics  {
      padding:0 1.5rem 2.4rem 1.5rem;
      color:#3f3f3f;
      font-size:1.4rem;  
      .num{
        color:#000;
      }
    }
    .article-comments{
      margin-top:1rem;
      h1{
        font-weight:600;
        margin-left:1.5rem;
        border:none;
      }
      .operate{
        margin-top:1.9rem;
        font-size:1.4rem;        
        color: #7C7C7C;
        text-align: right;
        .btn{
            border:none;
            background-color:white;
            color:#999;
            &.confirm{
              padding:.4rem 1.2rem;
              border: 1px solid #4081D6;; 
              color: #4081D6; /*#7C7C7C;*/
              border-radius:.2rem;
              margin-left: 3rem;
              background-color:white;

              &[disabled]{
                border:1px solid #999;
                color:#999;
              }
          }
        }
        
      }
    }
  }

