/*-----------------------------------------------------------------------------
1.项目名称：yfyk2h5
2.文件名称：src->less->estate>detail.less(小区详情)
3.作者：douyadong
-------------------------------------------------------------------------------*/
@import "../variables.less";
@import "../mixins.less";

// 轮播视频
.photo-loop{
    // background-color: pink;
    .swiper-slide{
        position: relative;
        img{
            height: 210px;
            width:100%;
        }
        .pagination{
            color: #fff;
            width:5rem;
            height: 2.35rem;
            background-color: rgba(0, 0, 0, 0.5);
            .border-radius(1.25rem);
            line-height: 2.35rem;
            text-align: center;
            position: absolute;
            right: 1.5rem;
            bottom:1.5rem;
        }
    }
}
// 经纪人
.agent{
    padding: 1.5rem;
    .clearfix();
    .agent-img{
        img{
            width: 4rem;
            height: 4rem;
            .border-radius(50%)   
        }
    };
    .agent-name{
        font-size: 1.6rem;
        color: @default-font-color;
        margin-left: 1rem;
    };
    .agent-post{
        font-size: 1.6rem;
        color: @light-font-color;
        margin-left: 0.75rem;
    }
     i{
        color: #4081d6;
        font-size: 1.6rem;
        float:right;
        line-height: 4rem;
    
    }
}

// 小区信息介绍
.estate-info{
    padding:0 1.5rem;
    .clearfix();
     li{
        padding-top: 2rem;
    }
    .estate-static1{
        .clearfix();
        .estate-kind1{
            float:left;
            font-size: 1.6rem;
            color: @light-font-color;
        }
        .estate-kind-info1{
            margin-left: 8.1rem;
            font-size: 1.6rem;
            color: @default-font-color;
        }
    }
      .estate-static2{
        .clearfix();
        .estate-kind2{
            float:left;
            margin-right:1.4rem;
            font-size: 1.6rem;
            color: @light-font-color;
        }
        .estate-kind-info2{
            margin-left: 4.6rem;
            font-size: 1.6rem;
            color: @default-font-color;
        }
    }  
    hr{
        margin:2rem 0 0;
    }
}
// 在售房源
.selling{
    padding: @gap-dimension 1.5rem;
    margin-bottom:1rem;
    .clearfix();
    .house-source{
        font-size: 1.6rem;
        color: @default-font-color;
    }
    .house-amount{
        float:right;
        span{
            font-size: 1.6rem;
            color: @default-font-color;
        }
       i{
           padding-top: 0.4rem;
       }
    }    
}
// 用户评论
.guest-comment{
    .comment{
        .clearfix();
        margin-left: 0;
        padding:@gap-dimension 1.5rem;
        .comment-amount{
            float:right;
            .skip{
                color: @default-font-color;
            }
        }
    }
    .no-data{
        font-size: 1.6rem;
        color: @light-font-color;
        text-align: center;
        line-height: 3rem;
    }
    .comment-all-info{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        .panel-item{
            border-bottom: 1px solid  @light-line-gray-color;
        }
        .comment-phone{
            position: relative;
            img{
                width:3rem;
                height:3rem;
                .border-radius(50%);
                margin-right: .5rem;
            }
            span{
                margin-right: 0.85rem;
            }
            .youping{
                color: @danger-color;
            }
            .yezhu{
                color: @primary-color;
            }
        }
        .comment-time-like{
            .clearfix();
            .click-like{
                float:right;
            }
            .isUp{
                    color: @primary-color;
                    &+.comment-like-amount{
                        color: @primary-color;
                    }
                }
        }
        
    }
    .all-comment{
         ul{
            .clearfix();
            padding: @gap-dimension 0;
            li{
                float:left;
                margin-right : 3.5%;
                overflow : hidden;
                width : 31% ;
                &:last-child{
                    margin-right:0;
                }
            }
        }
        .comment-all-info:last-child{
            .panel-item{
                border: none;
               
            }
        }
    }  
}
// 我来评价
.evaluate{
    display: block;
    height:4.5rem;
    line-height: 4.5rem;
    text-align: center;
    background-color: @title-background-color;
    font-size: 1.5rem;
    color: @light-font-color;
    .border-radius(0.3rem);
}
// 位置及周边
.nearby-map{
    .map{
        border: none;
        color: @default-font-color;
        font-size: 1.6rem;
    }
    .position{
        position: relative;
        .center-icon{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            color: @danger-color;
            font-size: 3rem;
        }
        .search{
            position:absolute;
            .clearfix();
            bottom: 1rem;
            background-color: #fff;
            line-height: 2rem;
            width:90%;
            left: 50%;
            transform: translate(-50%,0);
            .border-radius(0.4rem);
            font-size: 1.4rem;
            .icon-position{
                float: left;
                padding-left: 1.4rem;
            }
            i{
                color: @danger-color;
                float: left;
            }
            .estate-addr{
                margin-left: 6rem;  
            }
        }
    }
}